@import url("@asafarim/design-tokens/css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--asm-font-family-primary);
  background-color: var(--asm-color-bg);
  color: var(--asm-color-text);
  line-height: var(--asm-line-height-normal);
}

html, body, #root {
  height: 100%;
  width: 100%;
}
