@import url("@asafarim/shared-ui-react/index.css");

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--global-font-family-base);
}