/* Import design tokens */
@import "@asafarim/react-dropdowns/css";

:root {
    font-family: var(--asm-font-family-lato);
    line-height: 1.5;
    font-weight: 400;
    color: var(--asm-color-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: var(--asm-container-xl);
    margin: 0 auto;
    padding: 0 1rem;
}

svg.lucide {
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
}


